body {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  padding-bottom: 100px;
}
menu {
  background-color: yellow;
  padding: 20px;
}
h2 {
  font-size: 30px;
  line-height: 100px;
}
.pill {
  background-color: turquoise;
  border: solid 1px black;
  padding: 20px;
}

/* EXERCICE 1 */
.exercice1 ul {
  display: flex;
  flex-direction: row;
}

/* EXERCICE 2 */
.exercice2 ul {
  display: flex;
  flex-direction: row-reverse;
}
/* EXERCICE 3 */
.exercice3 ul {
  display: flex;
  flex-direction: row;
}
.exercice3 ul li {
  flex-grow: 1;
}

/* EXERCICE 4 */
.exercice4 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.exercice4 ul li {
  flex-basis: 150px;
}
.exercice4 ul .pill:nth-child(2) {
  flex-grow: 0.9;
}
/* EXERCICE 5 */
.exercice5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* EXERCICE 6 */
.exercice6 {
  display: flex;
  flex-direction: row;
}
/* EXERCICE 7 */
